
html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.text-box1 {
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: 70px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
    opacity: 0.6;
}

.text-box2 {
    height: 70px;
    width: 200px;
    position: absolute;
    bottom: 70px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
    opacity: 0.9;
}
 
p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
}

 #background 
{
    position: fixed;
    top: 40;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.squarespace-cdn.com/content/v1/5be4ac6f266c07e4edd988aa/1551093122637-HYMA1SIQJ8KHIG9IH9QX/ke17ZwdGBToddI8pDm48kGXoD000J7kx3NE7W-LXpdwUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcSHIBb6yNmvYkAyvF3loIw6LWPhmq3jJqr-f9nvyP7bW--NA7--1aw0mnW_uWXk87/topographical+surveyors+Edmond');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.7;
    filter:alpha(opacity=80)    
  }


#map {
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 124px);
}


.registerCenter {
         margin: 0;
         position: absolute;
         top: 70%;
         left: 90%;
         -ms-transform: translate(-70%, -70%);
         transform: translate(-70%, -70%);
        }
                
.saveCenter {
          margin: 0;
          position: absolute;
          top: 80%;
          left: 90%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }

.center2 {
          margin: 0;
          position: absolute;
          top: 60%;
          left: 90%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }

.deleteCenter {
          margin: 0;
          position: absolute;
          top: 90%;
          right: 60%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }

.areaCenter{
          margin: 0;
          position: absolute;
          top: 90%;
          right: 40%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }

.perimeterCenter {
          margin: 0;
          position: absolute;
          top: 90%;
          right: 15%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }

.toggleCenter{
          margin: 0;
          position: absolute;
          top: 20%;
          right: 10%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }


#RegisterButton{
    width:120px; 
    height:48px; 
    text-align:center; 
    line-height:1.1em; 
    font-size:1.1em;
}

#SaveButton{
    width:120px; 
    height:48px; 
    text-align:center; 
    line-height:1.1em; 
    font-size:1.1em;
}

#DeleteButton{
    width:160px; 
    height:48px; 
    text-align:center; 
    line-height:1.1em; 
    font-size:1.1em;
}

#AreaButton{
    width:120px; 
    height:48px; 
    text-align:center; 
    line-height:1.1em; 
    font-size:1.1em;
}

#PerimeterButton{
    width:120px; 
    height:48px; 
    text-align:center; 
    line-height:1.1em; 
    font-size:1.1em;
}

#ToggleFencePostsButton{
    width:140px; 
    height:48px; 
    text-align:center; 
    line-height:1.1em; 
    font-size:1.1em;
}

